.env

sent_alerts.txt

__pycache__/
*.pyc
*.pyo
*.pyd

Thumbs.db
desktop.ini

.DS_Store
.AppleDouble
.LSOverride

*~

.vscode/
*.code-workspace

.idea/
*.iml

*.log
*.db
*.sqlite
*.sqlite3

venv/
env/
ENV/
.venv

.git/
.gitattributes
